<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>Angular contacts book</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/foundation.css">
</head>
<body>
	


<div ng-app="app" ng-controller="phonebookCtrl">
  
<form>
    <div class="row">
        <div class="small-3 columns">
            <label class="right inline">ФИО</label>
        </div>
        <div class="small-9 columns">
            <input type="text" ng-model="name" />
        </div>
    </div>
    <div class="row">
        <div class="small-3 columns">
            <label class="right inline">№ телефона</label>
        </div>
        <div class="small-9 columns">
            <input type="text" ng-model="phone" />
        </div>
    </div>
    <div class="row">
        <div class="small-3 columns">
            <label class="right inline">Эл. почта</label>
        </div>
        <div class="small-9 columns">
            <input type="text" ng-model="email" />
        </div>
    </div>
	<div class="row">
        <div class="small-3 columns">
            <label class="right inline">Skype</label>
        </div>
        <div class="small-9 columns">
            <input type="text" ng-model="skype" />
        </div>
    </div>
	<div class="row">
        <div class="small-3 columns">
            <label class="right inline">Заметки</label>
        </div>
        <div class="small-9 columns">
            <textarea ng-model="description" rows="10"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="small-3 columns"></div>
        <div class="small-9 columns">
            <button class="small radius" ng-click="addNewPerson()" ng-hide="currentPersonId > -1">Добавить</button>
            <button class="small radius" ng-click="savePerson()" ng-show="currentPersonId > -1">Сохранить</button>
			<p ng-model="saveStatus">{{ saveStatus }}</p>
        </div>
    </div>
</form>

<table id="phonebook">
<thead>
    <tr>
        <th>№</th>
        <th>ФИО</th>
        <th>№ телефона</th>
        <th>Эл. почта</th>
        <th>Skype</th>
        <th></th>
    </tr>
</thead>
<tbody>
    <tr ng-repeat="person in phonebook">
        <td>{{ $index + 1 }}</td>
        <td>{{ person.name }}</td>
        <td>{{ person.phone }}</td>
        <td>{{ person.email }}</td>
        <td>{{ person.skype }}</td>
        <td>
            <ul class="button-group radius">
                <li><button class="tiny radius" ng-click="editPerson($index)">ред-ть</button></li>
                <li><button class="tiny radius alert" ng-click="deletePerson($index)">удалить</button></li>
            </ul>
        </td>
    </tr>
</tbody>
</table>

</div>


	
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
</body>
</html>