<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>

	<div id="msg"></div>
	
	<!-- Templates -->
	<script type="text/template" id="tpl-message-item">
		<a href="#" id="<%= code %>"><%= message %></a>
	</script>
	
	<script src="./js/jquery.js"></script>
    <script src="./js/underscore.js"></script>
    <script src="./js/backbone.js"></script>
    <!-- <script src="./js/test_1.js"></script> -->
    <script src="./js/test_2.js"></script>
</body>
</html>